.cinematography-page {
   width: 90%;
  margin: 50px auto;
  text-align: center;
  height: 100vh;       // or another fixed height


  h1 {
    font-family: 'La Belle Aurore', cursive;
    font-size: 48px;
    color: #fff;
    margin-bottom: 40px;
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 80px;
      height: 4px;
      background: #ffd700;
      margin: 15px auto 0;
    }
  }
  

  .video-grid {
    display: grid;
      grid-template-columns: repeat(2, 1fr); // Two columns for larger screens
      gap: 30px;

    .video-item {
      position: relative;
      overflow: hidden;
      border-radius: 10px;

        video {
          width: 100%;
          height: 350px; // Reduce the height of the videos
          object-fit: cover;
          border-radius: 10px;
        }
    }
  }

  @media (max-width: 768px) {
    .video-grid {
      grid-template-columns: 1fr; // Single column for smaller screens
      gap: 15px;
    }

    h1 {
      font-size: 36px;
    }
  }
}